/* Recipe page */
/* View button */
.card-action #red-color {
    color: #ee6e73;
}

/* Recipe description page */
/* Image in Description */
.display {
    display: flex;
    justify-content: center;
}

.image-description {
    width: 100%;
    height: 100%;
    max-width: 372px;
    max-height: 297px;
}