{% extends "base.html" %}

{% block title %} Add recipe {% endblock %}

{% block content %}
<div class="section">
  <div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
      <!-- Author Name and Serving-->
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="author_name" name="author_name" type="text" class="validate">
          <label for="author_name">Author Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">people</i>
          <select id="servings" name="serving_number">
            <option value="" disabled selected>Choose the servings</option>
            {% for num in servings %}
            <option value="{{ num.serving_number}}">{{ num.serving_number}}</option>
            {% endfor %}
          </select>
          <label>Servings</label>
        </div>
      </div>
      <!-- Recipe name -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">receipt</i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate">
          <label for="recipe_name">Recipe Name</label>
        </div>
      </div>
      <!-- Recipe description -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <textarea id="description" name="recipe_description" class="materialize-textarea"></textarea>
          <label for="description">Recipe Description</label>
        </div>
      </div>
      <!-- Recipe Type with Preparation time and Cooking time -->
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">poll</i>
          <select id="recipe_type" name="recipe_type">
            <option value="" disabled selected>Choose the recipe type</option>
            {% for num in type %}
            <option value="{{ num.type_name}}">{{ num.type_name}}</option>
            {% endfor %}
          </select>
          <label>Recipe type</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">schedule</i>
          <input id="Preparation_time" name="preparation_time" type="number" class="validate">
          <label for="Preparation_time">Preparation Time (min)</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">schedule</i>
          <input id="cooking" name="cooking_time" type="number" class="validate">
          <label for="cooking">Cooking Time (min)</label>
        </div>
      </div>
      <!-- Ingredients -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">shopping_basket</i>
          <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
          <label for="ingredients">Ingredients</label>
        </div>
      </div>
      <!-- Methods -->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">restaurant</i>
          <textarea id="methods" name="methods" class="materialize-textarea"></textarea>
          <label for="methods">Methods</label>
        </div>
      </div>
      <div class="row center-align">
        <button class="btn waves-effect waves-light" type="submit">Add Recipe
          <i class="material-icons right">playlist_add</i>
        </button>
      </div>
    </form>
  </div>
</div>


{% endblock %}