<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
              <a href=" {{ url_for('get_recipes')}} " class="brand-logo">Recipe</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_recipes')}}">Home</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Add recipe</a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="{{ url_for('get_recipes')}}">Home</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Add recipe</a></li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>



    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Materialize Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
            
</body>
</html>