{% extends "base.html" %}

{% block title %} Recipe description {% endblock %}

{% block content %}
    <!-- Recipe Title -->
    <div class="row">
        <div class="col s12 center-align blue-text text-darken-2">
            <h3>{{ recipe.recipe_name }}</h3>
        </div>
    </div>

    <!-- Recipe image -->
    <div class="row">
        <div class="col s12">
            <!-- if the image link is empty show a basic image -->
            {% if recipe.image_link == "" %}
            <img class="image-description" src="https://images.squarespace-cdn.com/content/v1/5c5c3833840b161566b02a76/1573133725500-Y5PCN0V04I86HDAT8AT0/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/WBC_7095.jpg?format=1500w">
            {% else %}
            <img class="image-description" src="{{recipe.image_link}}">
            {% endif %}
        </div>
    </div>
    
    <!-- Recipe description -->
    <div class="row">
        <div class="col s12">
            <h5 class="blue-text text-darken-2">Description</h5>
            <p>{{ recipe.recipe_description }}</p>
        </div>
    </div>
    <!-- Recipe type, preparation time and serving number -->
    <div class="row">
        <div class="col s12 blue-text text-darken-2">
            <h5>About this recipe</h5>
        </div>
        <div class="col s3">
            <p>Recipe type: {{ recipe.recipe_type }}</p>
        </div>
        <div class="col s3">
            <p>Preparation time: {{ recipe.preparation_time }}</p>
        </div>
        <div class="col s3">
            <p>Cooking time: {{ recipe.cooking_time }}</p>
        </div>
        <div class="col s3">
            <p> Servings: {{ recipe.serving_number }}</p>
        </div>
    </div>

    <!-- Ingredients -->
    <div class="row">
        <div class="col s12">
            <h5>Ingredients</h5>
            <p>{{ recipe.ingredients }}</p>
        </div>
    </div>

    <!-- Methods -->
    <div class="row">
        <div class="col s12">
            <h5>Description</h5>
            <p>{{ recipe.methods }}</p>
        </div>
    </div>

    <!-- Author -->
    <div class="row">
        <div class="col s12">
            <p>Recipe from {{ recipe.author_name }}</p>
        </div>
    </div>

    <!-- Button -->
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('edit_recipe', recipe_id = recipe._id)}}" class="waves-effect waves-light btn btn_small">Edit</a>
            <a onclick="return confirm('Are you sure you want to delete?');" href="{{url_for('delete_recipe', recipe_id = recipe._id)}}" class="btn waves-effect waves-light red darken-1">delete recipe
                <i class="material-icons left">delete_sweep</i>
            </a>
        </div>
    </div>

{% endblock %}